@import "tailwindcss";


/* Global styles for dark mode */
[data-theme="dark"] {
  background-color: #1a202c;
  color: white;
}

/* Customize dark mode for specific elements */
[data-theme="dark"] .bg-gray-100 {
  background-color: #2d3748; /* Dark gray */
}

[data-theme="dark"] .bg-blue-600 {
  background-color: #2b4a78; /* Dark blue */
}

[data-theme="dark"] .bg-yellow-500 {
  background-color: #f6e05e; /* Light yellow for dark mode */
}

[data-theme="dark"] .text-gray-700 {
  color: #edf2f7; /* Light gray text for better contrast */
}

[data-theme="dark"] .text-gray-600 {
  color: #e2e8f0; /* Lighter gray text */
}

[data-theme="dark"] .text-gray-500 {
  color: #cbd5e0; /* Even lighter gray */
}

[data-theme="dark"] .text-gray-200 {
  color: #edf2f7; /* Very light text for subtle elements */
}
